body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
}

nav{
    background-color: #6F8EBB;
    height: 100%;
    position: relative;
    border-radius: 0 0 10px 10px;
    padding: 15px 30px;
    
}
.navbar-brand{
    font-weight: bold;
    font-size: 32px;
    color:#FFFFFF;
}
.nav-item{
    font-size: 16px;
    color:#FFFFFF;
    padding: 5px 30px;
}
.btn{
    background-color: #EC8154;;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
}
h3{
    margin-bottom: 5px;
}

h4{
    color:#6F8EBB;
}
h6{
    color: #737373;
}
.form-control{
    background:#EBF0F9;
}
.choose{
    text-align: center;
}
td {
    text-align: center;
    vertical-align: middle;
}
     